/* Aliases  */
html:not([data-theme]),
[data-theme="default"],
[data-theme="null"] {
 
  /* Maping.Default2.0 */
  --border-presentation-action-disabled: var(
    --border-presentation-default-action-disabled
  );
  --background-system-body-primary: var(
    --background-system-default-body-primary
  );
  --content-presentation-action-dark-primary: var(
    --content-presentation-default-action-dark-primary
  );
  --content-presentation-action-hover: var(
    --content-presentation-default-action-hover
  );
  --content-presentation-state-success: var(
    --content-presentation-default-state-success
  );
  --content-presentation-state-warning: var(
    --content-presentation-default-state-warning
  );
  --content-presentation-state-negative: var(
    --content-presentation-default-state-negative
  );
  --background-presentation-action-secondary: var(
    --background-presentation-default-action-secondary
  );
  --background-presentation-form-header: var(
    --background-presentation-default-form-header
  );
  --background-presentation-state-success-primary: var(
    --background-presentation-default-state-success-primary
  );
  --background-presentation-state-warning-primary: var(
    --background-presentation-default-state-warning-primary
  );
  --background-presentation-state-negative-primary: var(
    --background-presentation-default-state-negative-primary
  );
  --background-presentation-state-information-primary: var(
    --background-presentation-default-state-information-primary
  );
  --background-presentation-action-hover: var(
    --background-presentation-default-action-hover
  );
  --background-presentation-action-primary: var(
    --background-presentation-default-action-primary
  );
  --border-presentation-state-success: var(
    --border-presentation-default-state-success
  );
  --border-presentation-state-warning: var(
    --border-presentation-default-state-warning
  );
  --border-presentation-state-negative: var(
    --border-presentation-default-state-negative
  );
  --content-presentation-global-highlight-darkback: var(
    --content-presentation-default-global-highlight-darkback
  );
  --background-system-body-secondary: var(
    --background-system-default-body-secondry
  );
  --border-system-global-primary: var(--border-system-default-global-primary);
  --content-system-global-primary: var(--content-system-default-global-primary);
  --content-system-global-secondary: var(
    --content-system-default-global-secondary
  );
  --background-system-body-base: var(--background-system-default-body-base);
  --content-presentation-global-primary: var(
    --content-presentation-default-global-primary
  );
  --background-presentation-body-primary: var(
    --background-presentation-default-body-primary
  );
  --border-presentation-global-primary: var(
    --border-presentation-default-global-primary
  );
  --background-system-state-negative: var(
    --background-system-default-state-negative
  );
  --border-system-action-hover-primary: var(
    --border-system-default-action-hover-primary
  );
  --background-system-action-hover-primary: var(
    --background-system-default-action-hover-primary
  );
  --content-system-action-hover-primary: var(
    --content-system-default-action-hover-primary
  );
  --background-system-action-selected-primary: var(
    --background-system-default-action-selected-primary
  );
  --background-system-action-selected-secondray: var(
    --background-system-default-action-selected-secondray
  );
  --background-system-action-hover-tertiary: var(
    --background-system-default-action-hover-tertiary
  );
  --content-system-action-hover-secondary: var(
    --content-system-default-action-hover-secondary
  );
  --border-system-action-hover-secondary: var(
    --border-system-default-action-hover-secondary
  );
  --border-system-global-sidebar-list-border: var(
    --border-system-default-global-sidebar-list-border
  );
  --border-presentation-state-focus: var(
    --border-presentation-default-state-focus
  );
  --content-presentation-action-light-primary: var(
    --content-presentation-default-action-light-primary
  );
  --background-presentation-action-selected: var(
    --background-presentation-default-action-selected
  );
  --content-presentation-state-disabled: var(
    --content-presentation-default-state-disabled
  );
  --background-presentation-action-borderstyle: var(
    --background-presentation-default-action-borderstyle
  );
  --content-presentation-global-secondary: var(
    --content-presentation-default-global-secondary
  );
  --content-presentation-action-light-secondary: var(
    --content-presentation-default-action-light-secondary
  );
  --content-presentation-action-dark-secondary: var(
    --content-presentation-default-action-dark-secondary
  );
  --content-system-global-disabled: var(
    --content-system-default-global-disabled
  );
  --content-presentation-state-information: var(
    --content-presentation-default-state-information
  );
  --border-presentation-action-hover: var(
    --border-presentation-default-action-hover
  );
  --border-presentation-action-primary: var(
    --border-presentation-default-action-primary
  );
  --background-presentation-table-row-selected: var(
    --background-presentation-default-table-row-selected
  );
  --border-presentation-table-selected: var(
    --border-presentation-default-table-selected
  );
  --content-presentation-action-hover-information: var(
    --content-presentation-default-action-hover-information
  );
  --content-presentation-action-hover-negative: var(
    --content-presentation-default-action-hover-negative
  );
  --background-presentation-action-hovercontstyle: var(
    --background-presentation-default-action-hovercontstyle
  );
  --background-presentation-table-row-hover: var(
    --background-presentation-default-table-row-hover
  );
  --background-presentation-table-acton-hover: var(
    --background-presentation-default-table-acton-hover
  );
  --border-presentation-table-action-hover: var(
    --border-presentation-default-table-action-hover
  );
  --content-presentation-global-highlight-lightback: var(
    --content-presentation-default-global-highlight-lightback
  );
  --background-presentation-table-row-disabled: var(
    --background-presentation-default-table-row-disabled
  );
  --background-presentation-form-base: var(
    --background-presentation-default-form-base
  );
  --border-presentation-table-dropdown: var(
    --border-presentation-default-table-dropdown
  );
  --border-presentation-table-header: var(
    --border-presentation-default-table-header
  );
  --background-presentation-tab-hover-topbar: var(
    --background-presentation-default-tab-hover-topbar
  );
  --background-presentation-tab-selected-topbar: var(
    --background-presentation-default-tab-selected-topbar
  );
  --content-presentation-tab-action-hover: var(
    --content-presentation-default-tab-action-hover
  );
  --content-presentation-tab-action-selected: var(
    --content-presentation-default-tab-action-selected
  );
  --border-presentation-tab-hover-topbar: var(
    --border-presentation-default-tab-hover-topbar
  );
  --background-presentation-badge-green: var(
    --background-presentation-default-badge-green
  );
  --background-presentation-badge-green-light: var(
    --background-presentation-default-badge-green-light
  );
  --background-presentation-badge-cocktail-green: var(
    --background-presentation-default-badge-cocktail-green
  );
  --background-presentation-badge-yellow: var(
    --background-presentation-default-badge-yellow
  );
  --background-presentation-badge-red-orange: var(
    --background-presentation-default-badge-red-orange
  );
  --background-presentation-badge-red: var(
    --background-presentation-default-badge-red
  );
  --background-presentation-badge-rose: var(
    --background-presentation-default-badge-rose
  );
  --background-presentation-badge-purple: var(
    --background-presentation-default-badge-purple
  );
  --background-presentation-badge-blue-purple: var(
    --background-presentation-default-badge-blue-purple
  );
  --background-presentation-badge-blue: var(
    --background-presentation-default-badge-blue
  );
  --background-presentation-badge-navy: var(
    --background-presentation-default-badge-navy
  );
  --background-presentation-badge-gray: var(
    --background-presentation-default-badge-gray
  );
  --content-presentation-badge-green: var(
    --content-presentation-default-badge-green
  );
  --content-presentation-badge-green-light: var(
    --content-presentation-default-badge-green-light
  );
  --content-presentation-badge-cocktail-green: var(
    --content-presentation-default-badge-cocktail-green
  );
  --content-presentation-badge-yellow: var(
    --content-presentation-default-badge-yellow
  );
  --content-presentation-badge-red-orange: var(
    --content-presentation-default-badge-red-orange
  );
  --content-presentation-badge-red: var(
    --content-presentation-default-badge-red
  );
  --content-presentation-badge-rose: var(
    --content-presentation-default-badge-rose
  );
  --content-presentation-badge-purple: var(
    --content-presentation-default-badge-purple
  );
  --content-presentation-badge-blue-purple: var(
    --content-presentation-default-badge-blue-purple
  );
  --content-presentation-badge-blue: var(
    --content-presentation-default-badge-blue
  );
  --content-presentation-badge-navy: var(
    --content-presentation-default-badge-navy
  );
  --content-presentation-badge-gray: var(
    --content-presentation-default-badge-gray
  );
  --border-presentation-badge-green: var(
    --border-presentation-default-badge-green
  );
  --border-presentation-badge-green-light: var(
    --border-presentation-default-badge-green-light
  );
  --border-presentation-badge-cocktail-green: var(
    --border-presentation-default-badge-cocktail-green
  );
  --border-presentation-badge-yellow: var(
    --border-presentation-default-badge-yellow
  );
  --border-presentation-badge-red-orange: var(
    --border-presentation-default-badge-red-orange
  );
  --border-presentation-badge-red: var(--border-presentation-default-badge-red);
  --border-presentation-badge-rose: var(
    --border-presentation-default-badge-rose
  );
  --border-presentation-badge-purple: var(
    --border-presentation-default-badge-purple
  );
  --border-presentation-badge-blue-purple: var(
    --border-presentation-default-badge-blue-purple
  );
  --border-presentation-badge-blue: var(
    --border-presentation-default-badge-blue
  );
  --border-presentation-badge-navy: var(
    --border-presentation-default-badge-navy
  );
  --border-presentation-badge-gray: var(
    --border-presentation-default-badge-gray
  );
  --background-presentation-action-disabled: var(
    --background-presentation-default-action-disabled
  );
  --border-system-global-secondary: var(
    --border-system-default-global-secondary
  );
  --background-presentation-form-field-primary: var(
    --background-presentation-default-form-field-primary
  );
  --background-system-body-tertiary: var(
    --background-system-default-body-tertiary
  );
  --background-system-action-hover-secondary: var(
    --background-system-default-action-hover-secondary
  );
  --background-presentation-tab-default-topbar: var(
    --background-presentation-default-tab-default-topbar
  );
  --background-system-action-field-desabled: var(
    --background-system-default-action-field-desabled
  );
  --background-system-action-field-primary: var(
    --background-system-default-action-field-primary
  );
  --background-system-action-field-hover: var(
    --background-system-default-action-field-hover
  );
  --border-system-action-field-hover-selected: var(
    --border-system-default-action-field-hover-selected
  );
  --content-presentation-cur-color1: var(
    --content-presentation-default-cur-color1
  );
  --content-presentation-cur-color2: var(
    --content-presentation-default-cur-color2
  );
  --content-presentation-cur-color4: var(
    --content-presentation-default-cur-color4
  );
  --content-presentation-cur-color5: var(
    --content-presentation-default-cur-color5
  );
  --content-presentation-cur-color6: var(
    --content-presentation-default-cur-color6
  );
  --content-presentation-cur-color7: var(
    --content-presentation-default-cur-color7
  );
  --content-presentation-cur-color8: var(
    --content-presentation-default-cur-color8
  );
  --content-presentation-cur-color3: var(
    --content-presentation-default-cur-color3
  );
  --background-presentation-state-warning-secondary: var(
    --background-presentation-default-state-warning-secondary
  );
  --background-presentation-state-success-secondary: var(
    --background-presentation-default-state-success-secondary
  );
  --background-presentation-state-negative-secondary: var(
    --background-presentation-default-state-negative-secondary
  );
  --background-presentation-state-information-secondary: var(
    --background-presentation-default-state-information-secondary
  );
  --content-presentation-action-hover-success: var(
    --content-presentation-default-action-hover-success
  );
  --background-system-badge-purple: var(
    --background-system-default-badge-purple
  );
  --background-system-badge-red: var(--background-system-default-badge-red);
  --content-system-badge-purple: var(--content-system-default-badge-purple);
  --content-system-badge-red: var(--content-system-default-badge-red);
  --border-system-badge-purple: var(--border-system-default-badge-purple);
  --border-system-badge-red: var(--border-system-default-badge-red);
  --content-system-global-label-purple: var(
    --content-system-default-global-label-purple
  );
  --content-system-global-label-red: var(
    --content-system-default-global-label-red
  );
  --background-system-action-primary: var(
    --background-system-default-action-primary
  );
  --background-system-action-secondary: var(
    --background-system-default-action-secondry
  );
  --background-system-action-tertiary: var(
    --background-system-default-action-tertiary
  );
  --background-presentation-action-link-primary: var(
    --background-presentation-default-action-link-primary
  );
  --background-presentation-action-link-hover: var(
    --background-presentation-default-action-link-hover
  );
  --content-presentation-action-link: var(
    --content-presentation-default-action-link
  );
  --background-presentation-form-field-hover: var(
    --background-presentation-default-form-field-hover
  );
  --background-presentation-action-dropdown-primary: var(
    --background-presentation-default-action-dropdown-primary
  );
  --background-presentation-form-header-shadow: var(
    --background-presentation-default-form-header-shadow
  );
  --background-presentation-form-tabs: var(
    --background-presentation-default-form-tabs
  );
  --background-presentation-tab-default-sidebar: var(
    --background-presentation-default-tab-default-sidebar
  );
  --background-presentation-tab-hover-sidebar: var(
    --background-presentation-default-tab-hover-sidebar
  );
  --background-presentation-tab-selected-sidebar: var(
    --background-presentation-default-tab-selected-sidebar
  );
  --border-presentation-tab-default-sidebar: var(
    --border-presentation-default-tab-default-sidebar
  );
  --content-presentation-stepper-selected: var(
    --content-presentation-default-stepper-selected
  );
  --border-presentation-stepper-default: var(
    --border-presentation-default-stepper-default
  );
  --border-presentation-stepper-hover: var(
    --border-presentation-default-stepper-hover
  );
  --border-presentation-stepper-selected: var(
    --border-presentation-default-stepper-selected
  );
  --border-presentation-stepper-negative: var(
    --border-presentation-default-stepper-negative
  );
  --border-presentation-stepper-divider: var(
    --border-presentation-default-stepper-divider
  );
  --background-presentation-stepper-selected: var(
    --background-presentation-default-stepper-selected
  );
  --background-presentation-stepper-hover: var(
    --background-presentation-default-stepper-hover
  );
  --border-presentation-action-borderstyle: var(
    --border-presentation-default-action-borderstyle
  );
  --border-presentation-action-checkbox-primary: var(
    --border-presentation-default-action-checkbox-primary
  );
  --background-presentation-form-tabs-grmid: var(
    --background-presentation-default-form-tabs-grmid
  );
  --background-system-folder-solid: var(
    --background-system-default-folder-solid
  );
  --background-system-folder-primary: var(
    --background-system-default-folder-primary
  );
  --background-system-folder-primary-grstart: var(
    --background-system-default-folder-primary-grstart
  );
  --background-system-folder-solid-grstart: var(
    --background-system-default-folder-solid-grstart
  );
  --background-system-folder-hover: var(
    --background-system-default-folder-hover
  );
  --background-system-folder-hover-grstart: var(
    --background-system-default-folder-hover-grstart
  );
  --background-presentation-switcher-active: var(
    --background-presentation-default-switcher-active
  );
  --background-presentation-switcher-disabled: var(
    --background-presentation-default-switcher-disabled
  );
  --background-presentation-switcher-knob: var(
    --background-presentation-default-switcher-knob
  );
  --background-presentation-body-scroller-default: var(
    --background-presentation-default-body-scroller-default
  );
  --background-presentation-body-scroller-hover: var(
    --background-presentation-default-body-scroller-hover
  );
  --background-presentation-form-radiocard-base: var(
    --background-presentation-default-form-radiocard-base
  );
  --background-system-conclusion-cover-grend: var(
    --background-system-default-conclusion-cover-grend
  );
  --background-system-conclusion-cover-grstart: var(
    --background-system-default-conclusion-cover-grstart
  );
  --background-system-conclusion-main-header-grend: var(
    --background-system-default-conclusion-main-header-grend
  );
  --background-system-conclusion-main-header-grstart: var(
    --background-system-default-conclusion-main-header-grstart
  );
  --background-system-conclusion-shadow-1: var(
    --background-system-default-conclusion-shadow-1
  );
  --background-system-conclusion-shadow-2: var(
    --background-system-default-conclusion-shadow-2
  );
  --content-system-action-field-primary: var(
    --content-system-default-action-field-primary
  );
  --content-system-action-field-hover: var(
    --content-system-default-action-field-hover
  );
  --content-system-action-field-disabled: var(
    --content-system-default-action-field-disabled
  );
  --background-presentation-form-searchbar-hovermusk: var(
    --background-presentation-default-form-searchbar-hovermusk
  );
}
