
:root {
  --purple-100: #f5eeffff;
  --purple-200: #ebdcffff;
  --purple-300: #d8baffff;
  --purple-400: #c396ffff;
  --purple-500: #ae71ffff;
  --purple-600: #9748ffff;
  --purple-700: #7839cbff;
  --purple-800: #5b2b99ff;
  --purple-900: #3e1e69ff;
  --purple-1000: #181323ff;
  --medium-red-100: #fce7eaff;
  --medium-red-200: #f9ced6ff;
  --medium-red-300: #f49eacff;
  --medium-red-400: #ee6d83ff;
  --medium-red-500: #e93d59ff;
  --medium-red-600: #e30c30ff;
  --medium-red-700: #b60a26ff;
  --medium-red-800: #88071dff;
  --medium-red-900: #5b0513ff;
  --medium-red-1000: #2d020aff;
  --blue-sparkle-100: #e6f1ffff;
  --blue-sparkle-200: #cce3ffff;
  --blue-sparkle-300: #99c8ffff;
  --blue-sparkle-400: #66acffff;
  --blue-sparkle-500: #3391ffff;
  --blue-sparkle-600: #0075ffff;
  --blue-sparkle-700: #005eccff;
  --blue-sparkle-800: #004699ff;
  --blue-sparkle-900: #002f66ff;
  --blue-sparkle-1000: #001733ff;
  --green-cyan-100: #e6f5f0ff;
  --green-cyan-200: #cdeae1ff;
  --green-cyan-300: #9bd5c3ff;
  --green-cyan-400: #69c0a5ff;
  --green-cyan-500: #37ab87ff;
  --green-cyan-600: #059669ff;
  --green-cyan-700: #047854ff;
  --green-cyan-800: #035a3fff;
  --green-cyan-900: #023c2aff;
  --green-cyan-1000: #011e15ff;
  --cool-green-100: #dcf8deff;
  --cool-green-200: #b8f0bbff;
  --cool-green-300: #64df6aff;
  --cool-green-400: #0ac713ff;
  --cool-green-500: #08a810ff;
  --cool-green-600: #078b0eff;
  --cool-green-700: #056e0bff;
  --cool-green-800: #045308ff;
  --cool-green-900: #033906ff;
  --orange-200: #f4decfff;
  --orange-300: #ffb77cff;
  --orange-400: #f79249ff;
  --orange-500: #de7429ff;
  --orange-600: #c75301ff;
  --orange-700: #9f4200ff;
  --orange-800: #783200ff;
  --orange-900: #532200ff;
  --yellow-200: #fff4b3ff;
  --yellow-300: #ffec99ff;
  --yellow-400: #ffde66ff;
  --yellow-500: #ffc803ff;
  --yellow-600: #ffb700ff;
  --wavy-navy-100: #e6f0f5ff;
  --wavy-navy-200: #cce1ebff;
  --wavy-navy-300: #99c2d7ff;
  --wavy-navy-400: #66a4c2ff;
  --wavy-navy-500: #3385aeff;
  --wavy-navy-600: #00679aff;
  --wavy-navy-700: #00527bff;
  --wavy-navy-800: #003e5cff;
  --wavy-navy-900: #00293eff;
  --wavy-navy-1000: #00151fff;
  --macaroon-rose-100: #feeef3ff;
  --macaroon-rose-200: #fddde7ff;
  --macaroon-rose-300: #fbbaceff;
  --macaroon-rose-400: #f998b6ff;
  --macaroon-rose-500: #f7759dff;
  --macaroon-rose-600: #f55385ff;
  --macaroon-rose-700: #c4426aff;
  --macaroon-rose-800: #933250ff;
  --macaroon-rose-900: #622135ff;
  --sinoper-red-100: #f9e7e7ff;
  --sinoper-red-200: #f3d4d4ff;
  --sinoper-red-300: #e8a8a8ff;
  --sinoper-red-400: #dc7d7dff;
  --sinoper-red-500: #d05252ff;
  --sinoper-red-600: #c52626ff;
  --sinoper-red-700: #ae0f0fff;
  --sinoper-red-800: #8b0c0cff;
  --sinoper-red-900: #680909ff;
  --medium-violet-red-200: #f3d4e9ff;
  --medium-violet-red-300: #e8a8d4ff;
  --medium-violet-red-400: #dc7dbeff;
  --medium-violet-red-500: #d052a8ff;
  --medium-violet-red-600: #c52693ff;
  --medium-violet-red-700: #ae0f7cff;
  --medium-violet-red-800: #8b0c63ff;
  --medium-violet-red-900: #68094aff;
  --cocktail-green-200: #ebf4d7ff;
  --cocktail-green-300: #d7eab0ff;
  --cocktail-green-400: #c3df88ff;
  --cocktail-green-500: #afd460ff;
  --cocktail-green-600: #9bc939ff;
  --cocktail-green-700: #84b222ff;
  --cocktail-green-800: #6a8f1bff;
  --cocktail-green-900: #4f6b14ff;
  --blue-purple-200: #dbd1f6ff;
  --blue-purple-300: #b8a2edff;
  --blue-purple-400: #9474e4ff;
  --blue-purple-500: #7145dbff;
  --blue-purple-600: #4d17d2ff;
  --blue-purple-700: #3e12a8ff;
  --blue-purple-800: #2e0e7eff;
  --blue-purple-900: #1f0954ff;
  --black-100: #797c7fff;
  --white-00: #ffffffff;
  --black-200: #626467ff;
  --black-300: #525456ff;
  --black-500: #353637ff;
  --black-400: #434446ff;
  --black-600: #2c2d2eff;
  --black-700: #252729ff;
  --black-800: #1c1d1fff;
  --black-900: #131415ff;
  --black-1000: #000000ff;
  --white-25: #f9f9f9ff;
  --white-50: #f4f4f4ff;
  --white-100: #f0f0f0ff;
  --white-200: #e5e5e5ff;
  --white-300: #d4d4d4ff;
  --white-400: #ccccccff;
  --white-500: #c6c6c6ff;
  --white-600: #bbbbbbff;
  --white-700: #a0a0a0ff;
  --white-alpha-10: #ffffff1a;
  --white-alpha-15: #ffffff26;
  --white-alpha-20: #ffffff33;
  --white-alpha-30: #ffffff4d;
  --white-alpha-40: #ffffff66;
  --white-alpha-50: #ffffff80;
  --white-alpha-75: #ffffffbf;
  --black-alpha-10: #0000001a;
  --black-alpha-15: #00000026;
  --black-alpha-20: #00000033;
  --black-alpha-30: #0000004d;
  --black-alpha-40: #00000066;
  --black-alpha-50: #00000080;
  --black-alpha-75: #000000bf;
  --medium-red-alpha-10: #b60a261a;
  --medium-red-alpha-15: #b60a2626;
  --medium-red-alpha-20: #b60a2633;
  --medium-red-alpha-30: #b60a264d;
  --medium-red-alpha-40: #b60a2666;
  --medium-red-alpha-50: #b60a2680;
  --medium-red-alpha-75: #b60a26bf;
  --purple-alpha-10: #9748ff1a;
  --purple-alpha-15: #9748ff26;
  --purple-alpha-20: #9748ff33;
  --purple-alpha-30: #9748ff4d;
  --purple-alpha-40: #9748ff66;
  --purple-alpha-50: #9748ff80;
  --purple-alpha-75: #9748ffbf;
  --blue-sparkle-alpha-10: #0075ff1a;
  --blue-sparkle-alpha-15: #0075ff26;
  --blue-sparkle-alpha-20: #0075ff33;
  --blue-sparkle-alpha-30: #0075ff4d;
  --blue-sparkle-alpha-40: #0075ff66;
  --blue-sparkle-alpha-50: #0075ff80;
  --blue-sparkle-alpha-75: #0075ffbf;
  --cool-green-alpha-10: #0ac7131a;
  --cool-green-alpha-15: #0ac71326;
  --cool-green-alpha-20: #0ac71333;
  --cool-green-alpha-30: #078b0e4d;
  --cool-green-alpha-40: #078b0e66;
  --cool-green-alpha-50: #078b0e80;
  --cool-green-alpha-75: #078b0ebf;
  --green-cyan-alpha-10: #0596691a;
  --green-cyan-alpha-15: #05966926;
  --green-cyan-alpha-20: #05966933;
  --green-cyan-alpha-30: #0596694d;
  --green-cyan-alpha-40: #05966966;
  --green-cyan-alpha-50: #05966980;
  --green-cyan-alpha-75: #059669bf;
  --yellow-alpha-10: #ffc7001a;
  --yellow-alpha-15: #ffc70026;
  --yellow-alpha-20: #ffc70033;
  --yellow-alpha-30: #ffd6424d;
  --yellow-alpha-40: #ffd64266;
  --yellow-alpha-50: #ffd64280;
  --yellow-alpha-75: #ffd642bf;
  --orange-alpha-10: #c753011a;
  --orange-alpha-15: #c7530126;
  --orange-alpha-20: #c7530133;
  --orange-alpha-30: #c753014d;
  --orange-alpha-40: #de742966;
  --orange-alpha-50: #de742980;
  --orange-alpha-75: #de7429bf;
  --white-alpha-5: #ffffff0d;
  --white-alpha-025: #ffffff08;
  --black-alpha-5: #0000000d;
  --black-alpha-025: #00000008;
  --yellow-700: #e59900ff;
  --red-orange-100: #fed8cfff;
  --red-orange-200: #fdb7a7ff;
  --red-orange-300: #fd967fff;
  --red-orange-400: #fc7557ff;
  --red-orange-500: #fb542fff;
  --red-orange-600: #db4726ff;
  --red-orange-700: #bb3a1dff;
  --red-orange-800: #9c2c14ff;
  --red-orange-900: #7c1f0bff;
  --red-orange-1000: #5c1202ff;
  --violet-100: #f5eeffff;
  --violet-200: #e2ccffff;
  --violet-300: #cfabffff;
  --violet-400: #bb87ffff;
  --violet-500: #a561ffff;
  --violet-600: #8e38ffff;
  --violet-700: #6a20cbff;
  --violet-800: #480999ff;
  --violet-900: #330c69ff;
  --violet-1000: #171123ff;
  --ocean-blue-200: #d3f7ffff;
  --ocean-blue-300: #ade8f4ff;
  --ocean-blue-400: #90e0efff;
  --ocean-blue-500: #48cae4ff;
  --ocean-blue-600: #00b4d8ff;
  --ocean-blue-700: #0096c7ff;
  --ocean-blue-800: #0077b6ff;
  --ocean-blue-900: #023e8aff;
  --ocean-blue-1000: #03045eff;
  --yellow-800: #bf7600ff;
  --yellow-900: #995700ff;
  --yellow-950: #733b00ff;
  --yellow-1000: #1a0c00ff;
  --yellow-50: #fffde6ff;
  --yellow-100: #fff9ccff;
  --purple-alpha-5: #9748ff0d;
  --purple-alpha-3: #9748ff08;
  --black-950: #0f1011ff;
  --wavy-navy-alpha-025: #00293e08;
  --wavy-navy-alpha-5: #00293e0d;
  --wavy-navy-alpha-10: #00293e1a;
  --wavy-navy-alpha-15: #00293e26;
  --wavy-navy-alpha-20: #00293e33;
  --wavy-navy-alpha-30: #00293e4d;
  --wavy-navy-alpha-40: #00293e66;
  --wavy-navy-alpha-50: #00293e80;
  --wavy-navy-alpha-75: #00293ebf;
  --wavy-navy-alpha-075: #00293e14;
  --black-alpha-075: #00000014;
  --white-alpha-075: #ffffff14;
  --dark-navy-100: #367896ff;
  --dark-navy-200: #296887ff;
  --dark-navy-300: #1d5878ff;
  --dark-navy-400: #134969ff;
  --dark-navy-500: #0b3b59ff;
  --dark-navy-600: #042f4aff;
  --dark-navy-700: #00243bff;
  --dark-navy-800: #00192bff;
  --dark-navy-900: #00101cff;
  --dark-navy-1000: #000000ff;
  --dark-navy-950: #00070dff;
}
