:root {
  --purple-100: #F5EEFFFF;
  --purple-200: #EBDCFFFF;
  --purple-300: #D8BAFFFF;
  --purple-400: #C396FFFF;
  --purple-500: #AE71FFFF;
  --purple-600: #9748FFFF;
  --purple-700: #7839CBFF;
  --purple-800: #5B2B99FF;
  --purple-900: #3E1E69FF;
  --purple-1000: #181323FF;
  --medium-red-100: #FCE7EAFF;
  --medium-red-200: #F9CED6FF;
  --medium-red-300: #F49EACFF;
  --medium-red-400: #EE6D83FF;
  --medium-red-500: #E93D59FF;
  --medium-red-600: #E30C30FF;
  --medium-red-700: #B60A26FF;
  --medium-red-800: #88071DFF;
  --medium-red-900: #5B0513FF;
  --medium-red-1000: #2D020AFF;
  --blue-sparkle-100: #E6F1FFFF;
  --blue-sparkle-200: #CCE3FFFF;
  --blue-sparkle-300: #99C8FFFF;
  --blue-sparkle-400: #66ACFFFF;
  --blue-sparkle-500: #3391FFFF;
  --blue-sparkle-600: #0075FFFF;
  --blue-sparkle-700: #005ECCFF;
  --blue-sparkle-800: #004699FF;
  --blue-sparkle-900: #002F66FF;
  --blue-sparkle-1000: #001733FF;
  --green-cyan-100: #E6F5F0FF;
  --green-cyan-200: #CDEAE1FF;
  --green-cyan-300: #9BD5C3FF;
  --green-cyan-400: #69C0A5FF;
  --green-cyan-500: #37AB87FF;
  --green-cyan-600: #059669FF;
  --green-cyan-700: #047854FF;
  --green-cyan-800: #035A3FFF;
  --green-cyan-900: #023C2AFF;
  --green-cyan-1000: #011E15FF;
  --cool-green-100: #DCF8DEFF;
  --cool-green-200: #B8F0BBFF;
  --cool-green-300: #64DF6AFF;
  --cool-green-400: #0AC713FF;
  --cool-green-500: #08A810FF;
  --cool-green-600: #078B0EFF;
  --cool-green-700: #056E0BFF;
  --cool-green-800: #045308FF;
  --cool-green-900: #033906FF;
  --orange-200: #F4DECFFF;
  --orange-300: #FFB77CFF;
  --orange-400: #F79249FF;
  --orange-500: #DE7429FF;
  --orange-600: #C75301FF;
  --orange-700: #9F4200FF;
  --orange-800: #783200FF;
  --orange-900: #532200FF;
  --yellow-200: #FFF4B3FF;
  --yellow-300: #FFEC99FF;
  --yellow-400: #FFDE66FF;
  --yellow-500: #FFC803FF;
  --yellow-600: #FFB700FF;
  --wavy-navy-100: #E6F0F5FF;
  --wavy-navy-200: #CCE1EBFF;
  --wavy-navy-300: #99C2D7FF;
  --wavy-navy-400: #66A4C2FF;
  --wavy-navy-500: #3385AEFF;
  --wavy-navy-600: #00679AFF;
  --wavy-navy-700: #00527BFF;
  --wavy-navy-800: #003E5CFF;
  --wavy-navy-900: #00293EFF;
  --wavy-navy-1000: #00151FFF;
  --macaroon-rose-100: #FEEEF3FF;
  --macaroon-rose-200: #FDDDE7FF;
  --macaroon-rose-300: #FBBACEFF;
  --macaroon-rose-400: #F998B6FF;
  --macaroon-rose-500: #F7759DFF;
  --macaroon-rose-600: #F55385FF;
  --macaroon-rose-700: #C4426AFF;
  --macaroon-rose-800: #933250FF;
  --macaroon-rose-900: #622135FF;
  --sinoper-red-100: #F9E7E7FF;
  --sinoper-red-200: #F3D4D4FF;
  --sinoper-red-300: #E8A8A8FF;
  --sinoper-red-400: #DC7D7DFF;
  --sinoper-red-500: #D05252FF;
  --sinoper-red-600: #C52626FF;
  --sinoper-red-700: #AE0F0FFF;
  --sinoper-red-800: #8B0C0CFF;
  --sinoper-red-900: #680909FF;
  --medium-violet-red-200: #F3D4E9FF;
  --medium-violet-red-300: #E8A8D4FF;
  --medium-violet-red-400: #DC7DBEFF;
  --medium-violet-red-500: #D052A8FF;
  --medium-violet-red-600: #C52693FF;
  --medium-violet-red-700: #AE0F7CFF;
  --medium-violet-red-800: #8B0C63FF;
  --medium-violet-red-900: #68094AFF;
  --cocktail-green-200: #EBF4D7FF;
  --cocktail-green-300: #D7EAB0FF;
  --cocktail-green-400: #C3DF88FF;
  --cocktail-green-500: #AFD460FF;
  --cocktail-green-600: #9BC939FF;
  --cocktail-green-700: #84B222FF;
  --cocktail-green-800: #6A8F1BFF;
  --cocktail-green-900: #4F6B14FF;
  --blue-purple-200: #DBD1F6FF;
  --blue-purple-300: #B8A2EDFF;
  --blue-purple-400: #9474E4FF;
  --blue-purple-500: #7145DBFF;
  --blue-purple-600: #4D17D2FF;
  --blue-purple-700: #3E12A8FF;
  --blue-purple-800: #2E0E7EFF;
  --blue-purple-900: #1F0954FF;
  --black-100: #797C7FFF;
  --white-00: #FFFFFFFF;
  --black-200: #626467FF;
  --black-300: #525456FF;
  --black-500: #353637FF;
  --black-400: #434446FF;
  --black-600: #2C2D2EFF;
  --black-700: #252729FF;
  --black-800: #1C1D1FFF;
  --black-900: #131415FF;
  --black-1000: #000000FF;
  --white-25: #F9F9F9FF;
  --white-50: #F4F4F4FF;
  --white-100: #F0F0F0FF;
  --white-200: #E5E5E5FF;
  --white-300: #D4D4D4FF;
  --white-400: #CCCCCCFF;
  --white-500: #C6C6C6FF;
  --white-600: #BBBBBBFF;
  --white-700: #A0A0A0FF;
  --white-alpha-10: #FFFFFF1A;
  --white-alpha-15: #FFFFFF26;
  --white-alpha-20: #FFFFFF33;
  --white-alpha-30: #FFFFFF4D;
  --white-alpha-40: #FFFFFF66;
  --white-alpha-50: #FFFFFF80;
  --white-alpha-75: #FFFFFFBF;
  --black-alpha-10: #0000001A;
  --black-alpha-15: #00000026;
  --black-alpha-20: #00000033;
  --black-alpha-30: #0000004D;
  --black-alpha-40: #00000066;
  --black-alpha-50: #00000080;
  --black-alpha-75: #000000BF;
  --medium-red-alpha-10: #B60A261A;
  --medium-red-alpha-15: #B60A2626;
  --medium-red-alpha-20: #B60A2633;
  --medium-red-alpha-30: #B60A264D;
  --medium-red-alpha-40: #B60A2666;
  --medium-red-alpha-50: #B60A2680;
  --medium-red-alpha-75: #B60A26BF;
  --purple-alpha-10: #9748FF1A;
  --purple-alpha-15: #9748FF26;
  --purple-alpha-20: #9748FF33;
  --purple-alpha-30: #9748FF4D;
  --purple-alpha-40: #9748FF66;
  --purple-alpha-50: #9748FF80;
  --purple-alpha-75: #9748FFBF;
  --blue-sparkle-alpha-10: #0075FF1A;
  --blue-sparkle-alpha-15: #0075FF26;
  --blue-sparkle-alpha-20: #0075FF33;
  --blue-sparkle-alpha-30: #0075FF4D;
  --blue-sparkle-alpha-40: #0075FF66;
  --blue-sparkle-alpha-50: #0075FF80;
  --blue-sparkle-alpha-75: #0075FFBF;
  --cool-green-alpha-10: #0AC7131A;
  --cool-green-alpha-15: #0AC71326;
  --cool-green-alpha-20: #0AC71333;
  --cool-green-alpha-30: #078B0E4D;
  --cool-green-alpha-40: #078B0E66;
  --cool-green-alpha-50: #078B0E80;
  --cool-green-alpha-75: #078B0EBF;
  --green-cyan-alpha-10: #0596691A;
  --green-cyan-alpha-15: #05966926;
  --green-cyan-alpha-20: #05966933;
  --green-cyan-alpha-30: #0596694D;
  --green-cyan-alpha-40: #05966966;
  --green-cyan-alpha-50: #05966980;
  --green-cyan-alpha-75: #059669BF;
  --yellow-alpha-10: #FFC7001A;
  --yellow-alpha-15: #FFC70026;
  --yellow-alpha-20: #FFC70033;
  --yellow-alpha-30: #FFD6424D;
  --yellow-alpha-40: #FFD64266;
  --yellow-alpha-50: #FFD64280;
  --yellow-alpha-75: #FFD642BF;
  --orange-alpha-10: #C753011A;
  --orange-alpha-15: #C7530126;
  --orange-alpha-20: #C7530133;
  --orange-alpha-30: #C753014D;
  --orange-alpha-40: #DE742966;
  --orange-alpha-50: #DE742980;
  --orange-alpha-75: #DE7429BF;
  --white-alpha-5: #FFFFFF0D;
  --white-alpha-025: #FFFFFF08;
  --black-alpha-5: #0000000D;
  --black-alpha-025: #00000008;
  --yellow-700: #E59900FF;
  --red-orange-100: #FED8CFFF;
  --red-orange-200: #FDB7A7FF;
  --red-orange-300: #FD967FFF;
  --red-orange-400: #FC7557FF;
  --red-orange-500: #FB542FFF;
  --red-orange-600: #DB4726FF;
  --red-orange-700: #BB3A1DFF;
  --red-orange-800: #9C2C14FF;
  --red-orange-900: #7C1F0BFF;
  --red-orange-1000: #5C1202FF;
  --violet-100: #F5EEFFFF;
  --violet-200: #E2CCFFFF;
  --violet-300: #CFABFFFF;
  --violet-400: #BB87FFFF;
  --violet-500: #A561FFFF;
  --violet-600: #8E38FFFF;
  --violet-700: #6A20CBFF;
  --violet-800: #480999FF;
  --violet-900: #330C69FF;
  --violet-1000: #171123FF;
  --ocean-blue-200: #D3F7FFFF;
  --ocean-blue-300: #ADE8F4FF;
  --ocean-blue-400: #90E0EFFF;
  --ocean-blue-500: #48CAE4FF;
  --ocean-blue-600: #00B4D8FF;
  --ocean-blue-700: #0096C7FF;
  --ocean-blue-800: #0077B6FF;
  --ocean-blue-900: #023E8AFF;
  --ocean-blue-1000: #03045EFF;
  --yellow-800: #BF7600FF;
  --yellow-900: #995700FF;
  --yellow-950: #733B00FF;
  --yellow-1000: #1A0C00FF;
  --yellow-50: #FFFDE6FF;
  --yellow-100: #FFF9CCFF;
  --purple-alpha-5: #9748FF0D;
  --purple-alpha-3: #9748FF08;
  --black-950: #0F1011FF;
  --wavy-navy-alpha-025: #00293E08;
  --wavy-navy-alpha-5: #00293E0D;
  --wavy-navy-alpha-10: #00293E1A;
  --wavy-navy-alpha-15: #00293E26;
  --wavy-navy-alpha-20: #00293E33;
  --wavy-navy-alpha-30: #00293E4D;
  --wavy-navy-alpha-40: #00293E66;
  --wavy-navy-alpha-50: #00293E80;
  --wavy-navy-alpha-75: #00293EBF;
  --wavy-navy-alpha-075: #00293E14;
  --black-alpha-075: #00000014;
  --white-alpha-075: #FFFFFF14;
  --dark-navy-100: #367896FF;
  --dark-navy-200: #296887FF;
  --dark-navy-300: #1D5878FF;
  --dark-navy-400: #134969FF;
  --dark-navy-500: #0B3B59FF;
  --dark-navy-600: #042F4AFF;
  --dark-navy-700: #00243BFF;
  --dark-navy-800: #00192BFF;
  --dark-navy-900: #00101CFF;
  --dark-navy-1000: #000000FF;
  --dark-navy-950: #00070DFF;
  --macaroon-rose-1000: #2E0F19FF;
  --macaroon-rose-alpha-025: #F5538508;
  --macaroon-rose-alpha-5: #F553850D;
  --macaroon-rose-alpha-075: #F5538514;
  --macaroon-rose-alpha-10: #F553851A;
  --macaroon-rose-alpha-15: #F5538526;
  --macaroon-rose-alpha-20: #F5538533;
  --macaroon-rose-alpha-30: #F553854D;
  --macaroon-rose-alpha-40: #F5538566;
  --macaroon-rose-alpha-50: #F5538580;
  --macaroon-rose-alpha-75: #F55385BF;
  --yellow-alpha-025: #FFC70008;
  --yellow-alpha-5: #FFC7000D;
  --yellow-alpha-075: #FFC70014;
  --orange-alpha-025: #C7530108;
  --orange-alpha-5: #C753010D;
  --orange-alpha-075: #C7530114;
  --blue-sparkle-alpha-025: #0075FF08;
  --blue-sparkle-alpha-5: #0075FF0D;
  --blue-sparkle-alpha-075: #0075FF14;
  --medium-red-alpha-025: #B60A2608;
  --medium-red-alpha-5: #B60A260D;
  --medium-red-alpha-075: #B60A2614;
  --cool-green-alpha-025: #0AC71308;
  --cool-green-alpha-5: #0AC7130D;
  --cool-green-alpha-075: #0AC71314;
  --green-cyan-alpha-025: #05966908;
  --green-cyan-alpha-5: #0596690D;
  --green-cyan-alpha-075: #05966914;
  --ocean-blue-alpha-025: #00B4D808;
  --ocean-blue-alpha-5: #00B4D80D;
  --ocean-blue-alpha-075: #00B4D814;
  --ocean-blue-alpha-10: #00B4D81A;
  --ocean-blue-alpha-15: #00B4D826;
  --ocean-blue-alpha-20: #00B4D833;
  --ocean-blue-alpha-30: #00B4D84D;
  --ocean-blue-alpha-40: #00B4D866;
  --ocean-blue-alpha-50: #00B4D880;
  --ocean-blue-alpha-75: #00B4D8BF;
  --light-blue-00: #FAFCFFFF;
  --light-blue-25: #EFF3F9FF;
  --light-blue-50: #E8EDF4FF;
  --light-blue-100: #E2E8F0FF;
  --light-blue-200: #D7DDE5FF;
  --light-blue-300: #C7CDD4FF;
  --light-blue-400: #C0C5CCFF;
  --light-blue-500: #BABFC6FF;
  --light-blue-600: #B0B4BBFF;
  --light-blue-700: #969AA0FF;
}