/* Maping.Light v2.1 */
[data-theme="light"] {
    --border-presentation-action-disabled: var(--border-presentation-light-action-disabled);
    --background-system-body-primary: var(--background-system-light-body-primary);
    --content-presentation-action-dark-primary: var(--content-presentation-light-action-dark-primary);
    --content-presentation-action-hover: var(--content-presentation-light-action-hover);
    --content-presentation-state-success: var(--content-presentation-light-state-success);
    --content-presentation-state-warning: var(--content-presentation-light-state-warning);
    --content-presentation-state-negative: var(--content-presentation-light-state-negative);
    --background-presentation-action-secondary: var(--background-presentation-light-action-secondary);
    --background-presentation-form-header: var(--background-presentation-light-form-header);
    --background-presentation-state-success-primary: var(--background-presentation-light-state-success-primary);
    --background-presentation-state-warning-primary: var(--background-presentation-light-state-warning-primary);
    --background-presentation-state-negative-primary: var(--background-presentation-light-state-negative-primary);
    --background-presentation-state-information-primary: var(--background-presentation-light-state-information-primary);
    --background-presentation-action-hover: var(--background-presentation-light-action-hover);
    --background-presentation-action-primary: var(--background-presentation-light-action-primary);
    --border-presentation-state-success: var(--border-presentation-light-state-success);
    --border-presentation-state-warning: var(--border-presentation-light-state-warning);
    --border-presentation-state-negative: var(--border-presentation-light-state-negative);
    --content-presentation-global-highlight-darkback: var(--content-presentation-light-global-highlight-darkback);
    --background-system-body-secondary: var(--background-system-light-body-secondry);
    --border-system-global-primary: var(--border-system-light-global-primary);
    --content-system-global-primary: var(--content-system-light-global-primary);
    --content-system-global-secondary: var(--content-system-light-global-secondary);
    --background-system-body-base: var(--background-system-light-body-base);
    --content-presentation-global-primary: var(--content-presentation-light-global-primary);
    --background-presentation-body-primary: var(--background-presentation-light-body-primary);
    --border-presentation-global-primary: var(--border-presentation-light-global-primary);
    --background-system-state-negative: var(--background-system-light-state-negative);
    --border-system-action-primary-hover: var(--border-system-light-action-primary-hover);
    --background-system-action-primary-hover: var(--background-system-light-action-primary-hover);
    --content-system-action-primary-hover: var(--content-system-light-action-primary-hover);
    --background-system-action-primary-selected: var(--background-system-light-action-primary-selected);
    --background-system-action-secondray-selected: var(--background-system-light-action-secondray-selected);
    --background-system-action-tertiary-hover: var(--background-system-light-action-tertiary-hover);
    --content-system-action-secondary-hover: var(--content-system-light-action-secondary-hover);
    --border-system-action-secondary-hover: var(--border-system-light-action-secondary-hover);
    --border-system-global-sidebar-list-border: var(--border-system-light-global-sidebar-list-border);
    --border-presentation-state-focus: var(--border-presentation-light-state-focus);
    --content-presentation-action-light-primary: var(--content-presentation-light-action-light-primary);
    --background-presentation-action-selected: var(--background-presentation-light-action-selected);
    --content-presentation-state-disabled: var(--content-presentation-light-state-disabled);
    --background-presentation-action-borderstyle: var(--background-presentation-light-action-borderstyle);
    --content-presentation-global-secondary: var(--content-presentation-light-global-secondary);
    --content-presentation-action-light-secondary: var(--content-presentation-light-action-light-secondary);
    --content-presentation-action-dark-secondary: var(--content-presentation-light-action-dark-secondary);
    --content-system-global-disabled: var(--content-system-light-global-disabled);
    --content-presentation-state-information: var(--content-presentation-light-state-information);
    --border-presentation-action-hover: var(--border-presentation-light-action-hover);
    --border-presentation-action-primary: var(--border-presentation-light-action-primary);
    --background-presentation-table-row-selected: var(--background-presentation-light-table-row-selected);
    --border-presentation-table-selected: var(--border-presentation-light-table-selected);
    --content-presentation-action-information-hover: var(--content-presentation-light-action-information-hover);
    --content-presentation-action-negative-hover: var(--content-presentation-light-action-negative-hover);
    --background-presentation-action-contstyle-hover: var(--background-presentation-light-action-hovercontstyle);
    --background-presentation-table-row-hover: var(--background-presentation-light-table-row-hover);
    --background-presentation-table-acton-hover: var(--background-presentation-light-table-acton-hover);
    --border-presentation-table-action-hover: var(--border-presentation-light-table-action-hover);
    --content-presentation-global-highlight-lightback: var(--content-presentation-light-global-highlight-lightback);
    --background-presentation-table-row-disabled: var(--background-presentation-light-table-row-disabled);
    --background-presentation-form-base: var(--background-presentation-light-form-base);
    --border-presentation-table-dropdown: var(--border-presentation-light-table-dropdown);
    --border-presentation-table-header: var(--border-presentation-light-table-header);
    --background-presentation-tab-topbar-hover: var(--background-presentation-light-tab-topbar-hover);
    --background-presentation-tab-topbar-selected: var(--background-presentation-light-tab-topbar-selected);
    --content-presentation-tab-action-hover: var(--content-presentation-light-tab-action-hover);
    --content-presentation-tab-action-selected: var(--content-presentation-light-tab-action-selected);
    --border-presentation-tab-topbar-hover: var(--border-presentation-light-tab-topbar-hover);
    --background-presentation-badge-green: var(--background-presentation-light-badge-green);
    --background-presentation-badge-green-light: var(--background-presentation-light-badge-green-light);
    --background-presentation-badge-cocktail-green: var(--background-presentation-light-badge-cocktail-green);
    --background-presentation-badge-yellow: var(--background-presentation-light-badge-yellow);
    --background-presentation-badge-red-orange: var(--background-presentation-light-badge-red-orange);
    --background-presentation-badge-red: var(--background-presentation-light-badge-red);
    --background-presentation-badge-rose: var(--background-presentation-light-badge-rose);
    --background-presentation-badge-purple: var(--background-presentation-light-badge-purple);
    --background-presentation-badge-blue-purple: var(--background-presentation-light-badge-blue-purple);
    --background-presentation-badge-blue: var(--background-presentation-light-badge-blue);
    --background-presentation-badge-navy: var(--background-presentation-light-badge-navy);
    --background-presentation-badge-gray: var(--background-presentation-light-badge-gray);
    --content-presentation-badge-green: var(--content-presentation-light-badge-green);
    --content-presentation-badge-green-light: var(--content-presentation-light-badge-green-light);
    --content-presentation-badge-cocktail-green: var(--content-presentation-light-badge-cocktail-green);
    --content-presentation-badge-yellow: var(--content-presentation-light-badge-yellow);
    --content-presentation-badge-red-orange: var(--content-presentation-light-badge-red-orange);
    --content-presentation-badge-red: var(--content-presentation-light-badge-red);
    --content-presentation-badge-rose: var(--content-presentation-light-badge-rose);
    --content-presentation-badge-purple: var(--content-presentation-light-badge-purple);
    --content-presentation-badge-blue-purple: var(--content-presentation-light-badge-blue-purple);
    --content-presentation-badge-blue: var(--content-presentation-light-badge-blue);
    --content-presentation-badge-navy: var(--content-presentation-light-badge-navy);
    --content-presentation-badge-gray: var(--content-presentation-light-badge-gray);
    --border-presentation-badge-green: var(--border-presentation-light-badge-green);
    --border-presentation-badge-green-light: var(--border-presentation-light-badge-green-light);
    --border-presentation-badge-cocktail-green: var(--border-presentation-light-badge-cocktail-green);
    --border-presentation-badge-yellow: var(--border-presentation-light-badge-yellow);
    --border-presentation-badge-red-orange: var(--border-presentation-light-badge-red-orange);
    --border-presentation-badge-red: var(--border-presentation-light-badge-red);
    --border-presentation-badge-rose: var(--border-presentation-light-badge-rose);
    --border-presentation-badge-purple: var(--border-presentation-light-badge-purple);
    --border-presentation-badge-blue-purple: var(--border-presentation-light-badge-blue-purple);
    --border-presentation-badge-blue: var(--border-presentation-light-badge-blue);
    --border-presentation-badge-navy: var(--border-presentation-light-badge-navy);
    --border-presentation-badge-gray: var(--border-presentation-light-badge-gray);
    --background-presentation-action-disabled: var(--background-presentation-light-action-disabled);
    --border-system-global-secondary: var(--border-system-light-global-secondary);
    --background-presentation-form-field-primary: var(--background-presentation-light-form-field-primary);
    --background-system-body-tertiary: var(--background-system-light-body-tertiary);
    --background-system-action-secondary-hover: var(--background-system-light-action-secondary-hover);
    --background-presentation-tab-topbar-primary: var(--background-presentation-light-tab-topbar-primary);
    --background-system-action-field-desabled: var(--background-system-light-action-field-desabled);
    --background-system-action-field-primary: var(--background-system-light-action-field-primary);
    --background-system-action-field-hover: var(--background-system-light-action-field-hover);
    --border-system-action-field-hover-selected: var(--border-system-light-action-field-hover-selected);
    --content-presentation-cur-color1: var(--content-presentation-light-cur-color1);
    --content-presentation-cur-color2: var(--content-presentation-light-cur-color2);
    --content-presentation-cur-color4: var(--content-presentation-light-cur-color4);
    --content-presentation-cur-color5: var(--content-presentation-light-cur-color5);
    --content-presentation-cur-color6: var(--content-presentation-light-cur-color6);
    --content-presentation-cur-color7: var(--content-presentation-light-cur-color7);
    --content-presentation-cur-color8: var(--content-presentation-light-cur-color8);
    --content-presentation-cur-color3: var(--content-presentation-light-cur-color3);
    --background-presentation-state-warning-secondary: var(--background-presentation-light-state-warning-secondary);
    --background-presentation-state-success-secondary: var(--background-presentation-light-state-success-secondary);
    --background-presentation-state-negative-secondary: var(--background-presentation-light-state-negative-secondary);
    --background-presentation-state-information-secondary: var(--background-presentation-light-state-information-secondary);
    --content-presentation-action-success-hover: var(--content-presentation-light-action-success-hover);
    --background-system-badge-purple: var(--background-system-light-badge-purple);
    --background-system-badge-red: var(--background-system-light-badge-red);
    --content-system-badge-purple: var(--content-system-light-badge-purple);
    --content-system-badge-red: var(--content-system-light-badge-red);
    --border-system-badge-purple: var(--border-system-light-badge-purple);
    --border-system-badge-red: var(--border-system-light-badge-red);
    --content-system-global-label-purple: var(--content-system-light-global-label-purple);
    --content-system-global-label-red: var(--content-system-light-global-label-red);
    --background-system-action-primary: var(--background-system-light-action-primary);
    --background-system-action-secondary: var(--background-system-light-action-secondry);
    --background-system-action-tertiary: var(--background-system-light-action-tertiary);
    --background-presentation-action-link-primary: var(--background-presentation-light-action-link-primary);
    --background-presentation-action-link-hover: var(--background-presentation-light-action-link-hover);
    --content-presentation-action-link: var(--content-presentation-light-action-link);
    --background-presentation-form-field-hover: var(--background-presentation-light-form-field-hover);
    --background-presentation-action-dropdown-primary: var(--background-presentation-light-action-dropdown-primary);
    --background-presentation-form-header-shadow: var(--background-presentation-light-form-header-shadow);
    --background-presentation-form-tabs: var(--background-presentation-light-form-tabs);
    --background-presentation-tab-sidebar-primary: var(--background-presentation-light-tab-sidebar-primary);
    --background-presentation-tab-sidebar-hover: var(--background-presentation-light-tab-sidebar-hover);
    --background-presentation-tab-sidebar-selected: var(--background-presentation-light-tab-sidebar-selected);
    --border-presentation-tab-sidebar-primary: var(--border-presentation-light-tab-sidebar-primary);
    --content-presentation-stepper-selected: var(--content-presentation-light-stepper-selected);
    --border-presentation-stepper-default: var(--border-presentation-light-stepper-default);
    --border-presentation-stepper-hover: var(--border-presentation-light-stepper-hover);
    --border-presentation-stepper-selected: var(--border-presentation-light-stepper-selected);
    --border-presentation-stepper-negative: var(--border-presentation-light-stepper-negative);
    --border-presentation-stepper-divider: var(--border-presentation-light-stepper-divider);
    --background-presentation-stepper-selected: var(--background-presentation-light-stepper-selected);
    --background-presentation-stepper-hover: var(--background-presentation-light-stepper-hover);
    --border-presentation-action-borderstyle: var(--border-presentation-light-action-borderstyle);
    --border-presentation-action-checkbox-primary: var(--border-presentation-light-action-checkbox-primary);
    --background-presentation-form-tabs-grmid: var(--background-presentation-light-form-tabs-grmid);
    --background-system-folder-solid: var(--background-system-light-folder-solid);
    --background-system-folder-primary: var(--background-system-light-folder-primary);
    --background-system-folder-primary-grstart: var(--background-system-light-folder-primary-grstart);
    --background-system-folder-solid-grstart: var(--background-system-light-folder-solid-grstart);
    --background-system-folder-hover: var(--background-system-light-folder-hover);
    --background-system-folder-hover-grstart: var(--background-system-light-folder-hover-grstart);
    --background-presentation-switcher-active: var(--background-presentation-light-switcher-active);
    --background-presentation-switcher-disabled: var(--background-presentation-light-switcher-disabled);
    --background-presentation-switcher-knob: var(--background-presentation-light-switcher-knob);
    --background-presentation-body-scroller-default: var(--background-presentation-light-body-scroller-default);
    --background-presentation-body-scroller-hover: var(--background-presentation-light-body-scroller-hover);
    --background-presentation-form-radiocard-base: var(--background-presentation-light-form-radiocard-base);
    --background-system-conclusion-cover-grend: var(--background-system-light-conclusion-cover-grend);
    --background-system-conclusion-cover-grstart: var(--background-system-light-conclusion-cover-grstart);
    --background-system-conclusion-main-header-grend: var(--background-system-light-conclusion-main-header-grend);
    --background-system-conclusion-main-header-grstart: var(--background-system-light-conclusion-main-header-grstart);
    --background-system-conclusion-shadow-1: var(--background-system-light-conclusion-shadow-1);
    --background-system-conclusion-shadow-2: var(--background-system-light-conclusion-shadow-2);
    --content-system-action-field-primary: var(--content-system-light-action-field-primary);
    --content-system-action-field-hover: var(--content-system-light-action-field-hover);
    --content-system-action-field-disabled: var(--content-system-light-action-field-disabled);
    --background-presentation-form-searchbar-hovermusk: var(--background-presentation-light-form-searchbar-hovermusk);
    --background-presentation-cardbutton-blue-primary: var(--background-presentation-light-cardbutton-blue-primary);
    --background-presentation-cardbutton-orange-primary: var(--background-presentation-light-cardbutton-orange-primary);
    --background-presentation-cardbutton-red-primary: var(--background-presentation-light-cardbutton-red-primary);
    --background-presentation-cardbutton-green-primary: var(--background-presentation-light-cardbutton-green-primary);
    --background-presentation-cardbutton-rose-primary: var(--background-presentation-light-cardbutton-rose-primary);
    --background-presentation-cardbutton-yellow-primary: var(--background-presentation-light-cardbutton-yellow-primary);
    --background-presentation-cardbutton-gray-primary: var(--background-presentation-light-cardbutton-gray-primary);
    --background-presentation-cardbutton-blue-hover: var(--background-presentation-light-cardbutton-blue-hover);
    --background-presentation-cardbutton-orange-hover: var(--background-presentation-light-cardbutton-orange-hover);
    --background-presentation-cardbutton-red-hover: var(--background-presentation-light-cardbutton-red-hover);
    --background-presentation-cardbutton-green-hover: var(--background-presentation-light-cardbutton-green-hover);
    --background-presentation-cardbutton-rose-hover: var(--background-presentation-light-cardbutton-rose-hover);
    --background-presentation-cardbutton-yellow-hover: var(--background-presentation-light-cardbutton-yellow-hover);
    --background-presentation-cardbutton-gray-hover: var(--background-presentation-light-cardbutton-gray-hover);
    --background-presentation-cardbutton-green-pressed: var(--background-presentation-light-cardbutton-green-pressed);
    --background-presentation-cardbutton-rose-pressed: var(--background-presentation-light-cardbutton-rose-pressed);
    --background-presentation-cardbutton-yellow-pressed: var(--background-presentation-light-cardbutton-yellow-pressed);
    --background-presentation-cardbutton-gray-pressed: var(--background-presentation-light-cardbutton-gray-pressed);
    --background-presentation-cardbutton-blue-pressed: var(--background-presentation-light-cardbutton-blue-pressed);
    --background-presentation-cardbutton-orange-pressed: var(--background-presentation-light-cardbutton-orange-pressed);
    --background-presentation-cardbutton-red-pressed: var(--background-presentation-light-cardbutton-red-pressed);
    --content-presentation-cardbutton-blue-icon: var(--content-presentation-light-cardbutton-blue-icon);
    --content-presentation-cardbutton-blue-header: var(--content-presentation-light-cardbutton-blue-header);
    --content-presentation-cardbutton-blue-subtext: var(--content-presentation-light-cardbutton-blue-subtext);
    --content-presentation-cardbutton-orange-icon: var(--content-presentation-light-cardbutton-orange-icon);
    --content-presentation-cardbutton-orange-header: var(--content-presentation-light-cardbutton-orange-header);
    --content-presentation-cardbutton-orange-subtext: var(--content-presentation-light-cardbutton-orange-subtext);
    --content-presentation-cardbutton-red-icon: var(--content-presentation-light-cardbutton-red-icon);
    --content-presentation-cardbutton-red-header: var(--content-presentation-light-cardbutton-red-header);
    --content-presentation-cardbutton-red-subtext: var(--content-presentation-light-cardbutton-red-subtext);
    --content-presentation-cardbutton-green-icon: var(--content-presentation-light-cardbutton-green-icon);
    --content-presentation-cardbutton-green-header: var(--content-presentation-light-cardbutton-green-header);
    --content-presentation-cardbutton-green-subtext: var(--content-presentation-light-cardbutton-green-subtext);
    --content-presentation-cardbutton-rose-header: var(--content-presentation-light-cardbutton-rose-header);
    --content-presentation-cardbutton-rose-subtext: var(--content-presentation-light-cardbutton-rose-subtext);
    --content-presentation-cardbutton-rose-icon: var(--content-presentation-light-cardbutton-rose-icon);
    --content-presentation-cardbutton-yellow-icon: var(--content-presentation-light-cardbutton-yellow-icon);
    --content-presentation-cardbutton-yellow-header: var(--content-presentation-light-cardbutton-yellow-header);
    --content-presentation-cardbutton-yellow-subtext: var(--content-presentation-light-cardbutton-yellow-subtext);
    --content-presentation-cardbutton-gray-icon: var(--content-presentation-light-cardbutton-gray-icon);
    --content-presentation-cardbutton-gray-header: var(--content-presentation-light-cardbutton-gray-header);
    --content-presentation-cardbutton-gray-subtext: var(--content-presentation-light-cardbutton-gray-subtext);
    --border-presentation-cardbutton-blue-hover: var(--border-presentation-light-cardbutton-blue-hover);
    --border-presentation-cardbutton-orange-hover: var(--border-presentation-light-cardbutton-orange-hover);
    --border-presentation-cardbutton-red-hover: var(--border-presentation-light-cardbutton-red-hover);
    --border-presentation-cardbutton-green-hover: var(--border-presentation-light-cardbutton-green-hover);
    --border-presentation-cardbutton-rose-hover: var(--border-presentation-light-cardbutton-rose-hover);
    --border-presentation-cardbutton-yellow-hover: var(--border-presentation-light-cardbutton-yellow-hover);
    --border-presentation-cardbutton-gray-hover: var(--border-presentation-light-cardbutton-gray-hover);
    --background-presentation-cardbutton-purple-primary: var(--background-presentation-light-cardbutton-purple-primary);
    --background-presentation-cardbutton-ocean-primary: var(--background-presentation-light-cardbutton-ocean-primary);
    --background-presentation-cardbutton-purple-hover: var(--background-presentation-light-cardbutton-purple-hover);
    --background-presentation-cardbutton-ocean-hover: var(--background-presentation-light-cardbutton-ocean-hover);
    --background-presentation-cardbutton-purple-pressed: var(--background-presentation-light-cardbutton-purple-pressed);
    --background-presentation-cardbutton-ocean-pressed: var(--background-presentation-light-cardbutton-ocean-pressed);
    --content-presentation-cardbutton-purple-icon: var(--content-presentation-light-cardbutton-purple-icon);
    --content-presentation-cardbutton-purple-header: var(--content-presentation-light-cardbutton-purple-header);
    --content-presentation-cardbutton-purple-subtext: var(--content-presentation-light-cardbutton-purple-subtext);
    --content-presentation-cardbutton-ocean-icon: var(--content-presentation-light-cardbutton-ocean-icon);
    --content-presentation-cardbutton-ocean-header: var(--content-presentation-light-cardbutton-ocean-header);
    --content-presentation-cardbutton-ocean-subtext: var(--content-presentation-light-cardbutton-ocean-subtext);
    --border-presentation-cardbutton-purple-hover: var(--border-presentation-light-cardbutton-purple-hover);
    --border-presentation-cardbutton-ocean-hover: var(--border-presentation-light-cardbutton-ocean-hover);
    --background-presentation-body-overlay-primary: var(--background-presentation-light-body-overlay-primary);
    --background-system-body-base-grend: var(--background-system-light-body-base-grend);
    --background-presentation-form-field-primary-grend: var(--background-presentation-light-form-field-primary-grend);
    --background-presentation-form-base-grend: var(--background-presentation-light-form-base-grend);
    --content-system-action-selected: var(--content-system-light-action-selected);
    --background-presentation-table-row-information: var(--background-presentation-light-table-row-information);
    --background-presentation-table-row-success: var(--background-presentation-light-table-row-success);
    --background-presentation-table-row-negative: var(--background-presentation-light-table-row-negative);
  
}
